*{
  box-sizing: border-box;
}
.App{
  /* background-color: black; */
  width: 100%;
  height: 100vh;
  color: white;
}
.container{
  width: 50%;
  height: 60%;
  border: 5px solid orange;
  margin: auto;
  margin-bottom:10px ;
}
.image-container{
  width: 100%;
  height: auto;
  border: 3px solid white;


}
.image-filter-section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-1{
  width: 150px;
  height: 30px;
  margin: 0px 20px;
}
.select-2{
  width: 70px;
  height: 30px;
}
li{
  list-style: none;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  margin-left: 10px;
  border: 1px solid black;
}
.color-item{
  display: flex;
}
.main-card{
  display: flex;
  align-items: center;
  height: 100%;
  scrollbar-width: none;
  overflow-x: scroll;
}



.card{
  min-width: 200px;
  height: 150px;
  margin: 0px 10px;
  box-sizing: border-box;
  /* background-color: azure; */
}
img{
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}
img:hover{
  transform: scale(1.2);
}